@charset "UTF-8";
@keyframes shine {
  100% {
    left: 125%;
  }
}
img {
  max-width: 100%;
}

.entrance-bg {
  background-image: url(../img/shop-entrance/nippon-entrance-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.shop-entrance {
  height: 100vh;
  padding-top: 280px;
  width: 1294px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 100px;
}
.shop-entrance__desc {
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fd1c8b;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.shop-entrance__desc span {
  margin-left: 26px;
  margin-right: 26px;
}
.shop-entrance__heading {
  text-align: center;
  position: relative;
  margin-top: 24px;
  margin-right: 12px;
}
.shop-entrance__heading img {
  display: inline-block;
  width: 690px;
  margin: 0 auto;
}
.shop-entrance__heading::after {
  content: "";
  position: absolute;
  top: 66px;
  right: 272px;
  background-image: url(../img/shop-entrance/shop-entrance-design.png);
  display: inline-block;
  background-repeat: no-repeat;
  width: 74px;
  height: 99px;
  background-size: contain;
  vertical-align: middle;
}
.shop-entrance__small {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 13px;
  line-height: 1.2;
  color: #fd1c8b;
  letter-spacing: -0.03em;
}
.shop-entrance__small span {
  display: block;
}
.shop-entrance__btn {
  text-align: center;
  margin-top: 20px;
}
.shop-entrance__btn a figure {
  position: relative;
  width: 22%;
  filter: drop-shadow(3px 3px 4px #888);
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
}
.shop-entrance__btn a figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
.shop-entrance__btn a:hover figure {
  filter: drop-shadow(0px 0px 2px #888);
  transform: translate(1px, 1px);
}
.shop-entrance__btn a:hover figure::before {
  animation: shine 0.75s;
}
.shop-entrance__exit {
  padding-top: 26px;
  font-size: 14px;
  color: #535353;
  text-align: center;
}
.shop-entrance__exit a {
  position: relative;
  font-size: 20px;
  color: #535353;
  letter-spacing: -2px;
  font-weight: 500;
}
.shop-entrance__exit a::after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
  width: 37px;
  height: 1px;
  background-color: #000;
}
.shop-entrance__exit a:hover {
  opacity: 0.8;
}

.entrance-banner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 100px;
}
.entrance-banner__flex {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.entrance-banner__flex:first-child {
  padding-top: 30px;
}
.entrance-banner__flex div {
  background-color: #fff;
}
.entrance-banner__flex div:first-child {
  margin-right: 15px;
}
.entrance-banner__flex div a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.entrance-banner__text {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
.entrance-banner__form {
  margin: 0 auto;
}
.entrance-banner__desc {
  margin-bottom: 30px;
}

.entrance-footer {
  background-color: #000;
  text-align: center;
  margin-top: 0;
}
.entrance-footer p {
  padding: 50px 0;
  color: #fff;
  font-size: 11px;
}/*# sourceMappingURL=nippon-entrance.css.map */